{% extends "general/layout.html" %}

{% block title %}
    Manager
{% endblock %}

{% block content %}
    <div class="fixed h-screen w-screen flex bg-[rgba(204,_204,_204,_0.5)]">
        <ul class="space-y-4 h-screen bg-white ml-5 p-4">
            <li class="nav_item {% if request.path == '/' %} hightlight{% endif %}">
                <a href="{{ url_for('manager.manager') }}" class="flex items-center">
                    <img src="{{ url_for('static', filename='avatar/avt_man.png') }}" 
                        alt="avatar" 
                        class="h-12 w-12 rounded-full mr-2">
                    <h2>{{login_manager.last_name}} {{login_manager.first_name}} - {{login_manager.person_id}}</h2>
                </a>
            </li>
            <li class="nav_item {% if '/manager/manager_manage_equipment' in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/key_icon_2.svg') }}" class="w-6"/>
                <a href="{{ url_for('manager.manager_manage_equipment') }}">Thiết bị</a>
            </li>
            <li class="nav_item {% if '/manager/borrow_request' in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/borrow-icon.png') }}" class="w-6"/>
                <a href="{{ url_for('manager.manager_borrow_request') }}">Yêu cầu mượn</a>
            </li>
            <li class="nav_item {% if '/manager/borrow_history' in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/history.png') }}" class="w-6"/>
                <a href="{{ url_for('manager.borrow_history') }}">Lịch sử mượn</a>
            </li>
            <li class="nav_item {% if '/manager/repair_ticket'in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/tools.png') }}" class="w-6"/>
                <a href="{{ url_for('manager.repair_ticket') }}">Phiếu sửa chữa</a>
            </li>
            <li class="nav_item {% if '/manager/liquidation_slip' in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/trash-can.png') }}" class="w-6"/>
                <a href="{{ url_for('manager.liquidation_slip') }}">Phiếu thanh lý</a>
            </li>
            <li class="nav_item {% if '/manager/penalty_ticket' in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/legal.png') }}" class="w-6"/>
                <a href="{{ url_for('manager.penalty_ticket') }}">Phiếu phạt</a>
            </li>
            <li class="nav_item {% if '/manager/account' in request.path %} hightlight{% endif %}">
                <img src="{{ url_for('static', filename='icon/account_icon.svg') }}" class="w-6"/>
                <a href="{{ url_for('manager.account', page_num=1) }}">Tài khoản</a>
            </li>
            <li class="nav_item">
                <img src="{{ url_for('static', filename='icon/logout.svg') }}" class="w-6"/>
                <a href="/logout">Đăng xuất</a>
            </li>
        </ul>
        
        {% block manager_content %}
        {% endblock %}
    </div>
{% endblock %}