{% extends "manager/layout.html" %}

{% block manager_content %}
<div class="flex flex-1 p-5 justify-center h-screen">
    <div class="h-full w-[350px] md:w-[500px] bg-white rounded-md shadow-lg flex flex-col items-center">
        <div class="w-[60%] h-auto p-4 border-b-2 border-gray-300 flex flex-col justify-center items-center">
            <img src="{{ url_for('static', filename='avatar/avt_man.png') }}" alt="avatar" class="w-full rounded-full mb-4">
            <div class="font-bold text-lg text-gray-800">
                {{login_user.last_name}} {{login_user.first_name}} - {{login_user.person_id}}
            </div>
        </div>
        <div class="w-full p-4">
            <div class="mb-3">
                <label class="font-semibold">CCCD:</label>
                <p class="text-gray-700">{{login_user.cccd}}</p>
            </div>
            <div class="mb-3">
                <label class="font-semibold">Email:</label>
                <p class="text-gray-700">{{login_user.email}}</p>
            </div>
            <div class="mb-3">
                <label class="font-semibold">Số điện thoại:</label>
                <p class="text-gray-700">{{login_user.phone}}</p>
            </div>
            <div class="mb-3">
                <label class="font-semibold">Địa chỉ:</label>
                <p class="text-gray-700">{{login_user.address}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}