{% extends "student/student_layout.html" %}

{% block student_content %}
<style>
    .checkbox-custom {
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
    }

    .checkbox:checked + label .checkbox-custom {
        background-color: white;
        border-color: blue;
    }

    .checkbox:checked + label .checkbox-custom .checkmark {
        display: flex;
    }

    .checkbox-custom:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .checkbox {
        display: none;
    }
</style>
<div class="flex flex-1 p-3">
    <div class="mr-3 flex-1 bg-white flex flex-col rounded-md">
        <div class=" flex-1 flex px-6 justify-between items-center">
            <div class="h-full w-full border-b-2 border-gray-500 flex items-center">
                <h2 class="font-bold text-3xl">Thiết bị đang mượn</h2>
            </div>
        </div>
        <div class="flex-10 flex flex-col px-6 overflow-auto">
            <div class="flex-10 space-y-3 p-4 max-h-[600px]">
                {% for equipment in borrow_equipment %}
                <div class="h-12 w-full bg-blue-300 rounded-md text-white shadow-2xs flex items-center p-2 hover:bg-blue-200 justify-between">
                    <div class="flex items-center cursor-pointer">
                        {{equipment.equipment_name}} - {{equipment.room_id}}
                    </div>
                    <div>{{equipment.borrow_status}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex-1 flex flex-col bg-white rounded-md">
        <div class=" flex-1 flex px-6 justify-between items-center">
            <div>
                <h2 class="font-bold text-3xl">Mượn thiết bị</h2>
            </div>
            <form action="/student" method="get">
                <label class="font-bold" for="room">Phòng:</label>
                <select class="w-28 border-2 border-black" onchange="this.form.submit()" name="room" id="room">
                    <option value="">--room--</option>
                    {% for room in lst_room %}
                        {% if room.id == selected_value %}
                            <option value="{{room.id}}" selected>{{room.id}}</option>
                        {% else %}
                            <option value="{{room.id}}">{{room.id}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
        <!-- form các thiết bị có thể mượn -->
        <form class="flex-10 flex flex-col px-6" method="post" action="/student/borrow">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
            <div class="flex-10 border-y-2 border-gray-500 p-4 overflow-auto max-h-[260px] md:max-h-[400px] lg:max-h-[600px] ">
                <div class="space-y-3 ">
                    {% for equipment in lst_equipment %}
                    <div class="h-12 w-full bg-blue-300 rounded-md text-white shadow-2xs flex items-center p-2 hover:bg-blue-200">
                        <input type="checkbox" id="equipment-{{equipment.id}}" value="{{equipment.id}}" class="hidden checkbox" name="items"/>
                        <label for="equipment-{{equipment.id}}" class="flex items-center cursor-pointer">
                            <span class="checkbox-custom w-5 h-5 mr-2 flex items-center justify-center border-2 border-white rounded-md">
                                <span class="checkmark hidden text-white">✔</span>
                            </span>
                            {{equipment.equipment_name}} - {{equipment.room_id}}
                        </label>
                    </div>
                    {% endfor %}
                </div>       
            </div>
            <div class="flex-1 flex justify-end items-center">
                <button type="submit" 
                        class="h-10 w-36 bg-gradient-to-l from-blue-500 to-blue-200 hover:rounded-2xl duration-300 cursor-pointer">
                    Mượn
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}