{% extends "general/layout.html" %}

{% block title %}
    Borrow
{% endblock %}

{% block content %}
<div class="bg-gray-100">
    <div class="flex">
        <div class="w-64 bg-gray-800 text-white h-screen p-5 border-r border-white">
            <a class="flex items-center mb-5 cursor-pointer" href="/borrow/profile">
                <img src="{{ url_for('static', filename='avatar/avt_man.png') }}" alt="Avatar" class="w-12 h-12 rounded-full mr-3">
                <div>
                    <h3 class="text-lg font-semibold">{{login_user.last_name}} {{login_user.first_name}}</h3>
                    <p class="text-sm">{{login_user.email}}</p>
                </div>
            </a>
            <ul>
                <li class="mb-3">
                    <a href="/borrow/borrow_equipment"
                       class="p-2 block rounded hover:bg-gray-700 {% if request.path == '/borrow/borrow_equipment' %}bg-gray-700{% endif %}">
                        Mượn thiết bị
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/borrow/borrow_history"
                       class="p-2 block rounded hover:bg-gray-700 {% if request.path == '/borrow/borrow_history' %}bg-gray-700{% endif %}">
                        Lịch sử mượn thiết bị
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/logout"
                       class="p-2 block rounded hover:bg-gray-700 {% if request.path == '/logout' %}bg-gray-700{% endif %}">
                        Đăng xuất
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="flex-1">
            {% block borrow_content %}
            <!-- Nội dung chính sẽ được chèn vào đây -->
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}