{% extends "general/layout.html" %}

{% block title %}
    ADD ACCOUNT
{% endblock %}

{% block content %}
<div class="w-screen h-screen fixed top-0 left-0">
    <form action="/add_account" method="post" class="h-full w-full flex justify-center items-center space-x-6">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" class="fixed"/>  
        <div class="w-1/3 flex flex-col space-y-4 bg-blue-300 p-4 rounded-2xl">
            <h2>Thông tin tài khoản</h2>
            <label>Mã Tài Khoản</label>
            <input name="user_id" type="text" class="input_field"/>
            
            <label>Mật Khẩu</label>
            <input name="password" type="text" class="input_field"/>

            <label>Vai Trò</label>
            <select name="role" class="input_field">
                {% for role in lst_role %}
                    <option value="{{role.id}}">{{role.role}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="w-1/3 flex flex-col bg-blue-300 p-4 rounded-2xl">
            <h2>Thông tin dành cho học sinh và nhân viên</h2>
            <label>First Name</label>
            <input name="firstname" type="text" class="input_field"/>
            
            <label>Lastname</label>
            <input name="lastname" type="text" class="input_field"/>

            <label>Gender</label>
            <select name="gender" class="input_field">
                <option value="0">
                    Male
                </option>
                <option value="1">
                    Female
                </option>
            </select>

            <label>Phone</label>
            <input name="phone" type="text" class="input_field"/>
            
            <label>Email</label>
            <input name="email" type="email" class="input_field"/>

            <label>Address</label>
            <input name="address" type="text" class="input_field"/>
            
            <label>Birthdate</label>
            <input name="birthdate" type="date" class="input_field"/>

            <p>Học sinh mới phải chọn lớp học</p>
            <select name="class" class="input_field">
                {% for class in lst_class %}
                    <option value="{{class.id}}">{{class.classroom_name}}</option>
                {% endfor %}
            </select>
        </div>
        

        <button type="submit" class="w-32 h-12 bg-gray-300 rounded-2xl hover:bg-gray-500 cursor-pointer">
            Add
        </button>
    </form>
</div>
{% endblock %}