{% extends "general/layout.html" %}

{% block title %}
    Staff
{% endblock %}

{% block content %}
    <div class="fixed h-screen w-screen flex bg-[rgba(204,_204,_204,_0.5)]">
        <ul class="space-y-4 h-screen bg-white ml-5 p-4">
            <li class="nav_item {% if request.path == '/staff' %} hightlight{% endif %}">
                <a href="{{ url_for('staff.staff') }}" class="flex items-center">
                    <img src="{{ url_for('static', filename='avatar/avt_man.png') }}" 
                        alt="avatar" 
                        class="h-12 w-12 rounded-full mr-2">
                    <h2>{{login_staff.last_name}} {{login_staff.first_name}} - {{login_staff.person_id}}</h2>
                </a>
            </li>
            <li class="nav_item">
                <a href="{{ url_for('staff.staff_manage_equipment') }}">Thiết bị</a>
            </li>
            <li class="nav_item {% if request.path == '/staff/borrow_request' %} hightlight{% endif %}">
                <a href="{{ url_for('staff.staff_borrow_request') }}">Yêu cầu mượn</a>
            </li>
            <li class="nav_item">
                <a href="#">Lịch sử mượn</a>
            </li>
            <li class="nav_item">
                <a href="#">Phiếu sửa chữa</a>
            </li>
            <li class="nav_item">
                <a href="#">Phiếu thanh lý</a>
            </li>
            <li class="nav_item">
                <a href="#">Phiếu phạt</a>
            </li>
            <li class="nav_item">
                <a href="/logout">Đăng xuất</a>
            </li>
        </ul>
        
        {% block staff_content %}
        {% endblock %}
    </div>
{% endblock %}